<template>

  <div :style="containerStyle">
  <vue-draggable-resizable
    :w="meta.width"
    :h="meta.height"
    :z="meta.z"
    :parent="true"
    :minWidth="20"
    :minHeight="20"
    :maxHeight="height"
    :maxWidth="width"
    :draggable="isTileActive"
    :resizable="isTileActive"
    @resizing="onResize"
    @deactivated="onDeactivate"
    @activated="onActivate"
    @dragging="onDrag"
    @resizestop="tileUpdate"
    @dragstop="tileUpdate">

    <div v-if="meta.image">
      <b-img :tileId="tileId" :src="meta.image" :width="meta.width" :height="meta.height"></b-img>
    </div>
    <div v-else>
      <div v-if="this.progressValue > 0">
        <div class="d-flex" :style="'height:' + meta.height">
          <b-progress :value="progressValue" class="w-75 mx-auto align-self-center" :height="getProgressBarHeight"></b-progress>
        </div>
      </div>
      <div v-else>
        <div class="d-flex justify-content-center" :style="'height:' + meta.height">
            <b-button class="align-self-center" variant="success" @click="triggerUpload">
              <b-icon icon="upload"></b-icon> Upload
            </b-button>
        </div>
      </div>
    </div>

    <b-form-file v-model="file" accept="image/*" class="d-none" ref="fileUpload" @change="uploadFile" plain></b-form-file>
  </vue-draggable-resizable>
  </div>

</template>

<script>
  import axios from 'axios'
  import VueDraggableResizable from 'vue-draggable-resizable'
  import 'vue-draggable-resizable/dist/VueDraggableResizable.css'

  export default {
    props: ['tileId', 'image', 'width', 'height', 'x', 'y', 'z'],
    components: {
      'vue-draggable-resizable': VueDraggableResizable
    },
    data() {
      return {
        file: null,
        progressValue: 0,
        imageData: null,
        meta: {
          id: null, x: 0, y: 0, z: 0, width: 0, height: 0, image: null
        },
        containerStyle: {}
      }
    },
    computed: {
      getProgressBarHeight: function() {
        let h = (this.meta.height * 0.05)
        return String(h)
      },
      isTileActive: function() {
        return (this.meta.image !== null)
      }
    },
    created() {
      this.meta.id = this.tileId
      this.meta.image = this.image
      this.meta.x = this.x || 0
      this.meta.y = this.y || 0
      this.meta.z = this.z || 0
      this.meta.height = this.height || 100
      this.meta.width = this.width || 100

      this.containerStyle = {
        position: 'absolute',
        width: this.width,
        height: this.height,
        top: this.y,
        left: this.x,
      }
    },
    methods: {
      triggerUpload() {
        this.$refs.fileUpload.$el.click()
      },
      uploadFile(e) {
        const progress = setInterval(() => {
          if (this.progressValue >= 99) {
            clearInterval(progress)
          }
          this.progressValue += 1
        }, 100)

        let file = e.target.files[0]
        let data = new FormData()
        data.append('image', file)

        axios.post('/upload', data, {headers: {'Content-Type': 'multipart/form-data'}})
        .then((resp) => {
          this.progressValue = 100
          clearInterval(progress)

          this.isDraggable = true
          this.isResizable = true
          this.meta.image = resp.data.data.image
          this.tileUpdate()
        })
        .catch((err) => {
          console.log(err);
        });
      },
      onResize: function (x, y, width, height) {
        this.meta.x = x
        this.meta.y = y
        this.meta.width = width
        this.meta.height = height
      },
      onDrag: function (x, y) {
        this.meta.x = x
        this.meta.y = y
      },
      onActivate() {
        this.meta.z = 999
        this.tileUpdate()
      },
      onDeactivate() {
        this.meta.z = 0
        this.tileUpdate()
      },
      tileUpdate: function () {
        let data = { ...this.meta }
        data.x += this.x
        data.y += this.y

        this.$emit('onTileUpdate', data)
      }
    }
  }
</script>
