<template>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header">Photo Tile Maker</div>

          <div class="card-body">
            <div>
              <div ref="tileContainer" class="tileContainer">
                <tile-holder v-for="tile in tiles"
                :key="tile.key"
                :image="tile.image"
                :tileId="tile.id"
                :width="tile.width"
                :height="tile.height"
                :x="tile.x"
                :y="tile.y"
                :z="tile.z"
                @onTileUpdate="updateTile"/>
              </div>

              <div class="d-flex mt-3">
              <div class="">
                <b-button-group>
                <b-button @click="setLayout(1)">1</b-button>
                <b-button @click="setLayout(2)">2</b-button>
                <b-button @click="setLayout(3)">3</b-button>
                </b-button-group>
              </div>

              <div class="ml-3">
                <b-button v-if="hasImage" variant="primary" @click="generateTile">Save</b-button>
              </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import TileHolder from './TileHolder'

  export default {
    components: {
      'tile-holder': TileHolder,
    },
    data() {
      return {
        layout: 1,
        tiles: [],
        hasImage: false
      }
    },
    mounted() {
      this.setLayout(1)
    },
    methods: {
      generateKey() {
        return Math.ceil(Math.random() * 1000000000000000);
      },
      createTile(data) {
        let defaultTile = { key: null, image: null, id: null, width: null, height: null, x: null, y: null, z: 0 }
        let tile = { ...defaultTile }
        let tiles = { ...this.tiles }

        for (let i in tiles) {
          if (tiles[i].id != data.id) continue;
          tile = tiles[i]
          break;
        }

        tile.key = this.generateKey()
        tile.id = data.id || (tiles.length + 1)
        tile.width = data.width || 100
        tile.height = data.height || 100
        tile.x = data.x || 0
        tile.y = data.y || 0

        return tile
      },
      setLayout(n) {
        this.layout = n
        let w = this.$refs.tileContainer.clientWidth
        let h = this.$refs.tileContainer.clientHeight

        if (n == 1) {
          this.tiles = [
            this.createTile({ id: 1, width: w, height: h })
          ]
        }

        if (n == 2) {
          this.tiles = [
            this.createTile({ id: 1, width: (w / 2), height: h }),
            this.createTile({ id: 2, width: (w / 2), height: h, x: (w / 2) })
          ]
        }

        if (n == 3) {
          this.tiles = [
            this.createTile({ id: 1, width: (w / 2), height: h }),
            this.createTile({ id: 2, width: (w / 2), height: (h / 2), x: (w / 2) }),
            this.createTile({ id: 3, width: (w / 2), height: (h / 2), x: (w / 2), y: (h / 2) })
          ]
        }
      },
      updateTile(data) {
        // @todo expensive, refactor tiles to objects?
        for (let i in this.tiles) {
          if (this.tiles[i].id != data.id) continue;
          this.tiles[i] = { key: this.tiles[i].key, ...data }

          if (this.tiles[i].image != null) this.hasImage = true
        }
      },
      generateTile() {
        for (let i in this.tiles) {
          let tile = this.tiles[i]
          console.log("x:" + tile.x, "y:" + tile.y, "width:" + tile.width, "height:" + tile.height)
        }
        let data = {}
        data.tiles = this.tiles
        data.canvas = { width: this.$refs.tileContainer.clientWidth, height: this.$refs.tileContainer.clientHeight }

        axios.post('/generate', data, {headers: {'Content-Type': 'application/json'}})
        .then((resp) => {
          window.location.replace(resp.data.data.image)
        })
        .catch((err) => {
          console.log(err);
        });
      }
    }
  }
</script>

<style scoped>
  .tileContainer {
    height: 500px;
    width: 100%;
    position: relative;
  }
</style>
